.container{
    max-width: 1200px;
    padding: 0 70px;
    margin-top: 50px;
}
.akib{
    position: relative;
}
.akib input{
    width: 100%;
    padding: 13px 16px;
    font-size: 17px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
.akib input:focus{
    border: 1px solid aqua;
    transition: 3s;
}
.submit-btn{
    display: block;
    position: absolute;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: bold;
    color: aqua;
    background: blue;
}